body {
    margin: 0;
    padding: 0;
}
.top{
    background-color: #17252a; /* Background color for the smaller container */
    height: 90px;
    width: 100vw; /* Fill the entire width of the viewport */
    position: absolute;
    color: #feffff;
}



.back-button {
    right: 0%;
    top: 0%;
    width:138px;
    height:70px;
    position: absolute;
    padding: 10px 15px;
    background-color: #17252a;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .back-button:hover {
    background-color: #2b7a78;
  }
  

.spacer {
  height: 50px;
}

.about {
    position: relative;
    top: 25px;
    right: 4%;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    
}

h1 {
    position: relative;
    right: -2%;
    font-size: 35px;
    margin-bottom: 10px;
}